# Import and export

In [69]:
import pandas as pd

In [70]:
#pd.read_csv
#pd.read_excel("WB","WS")
df = pd.read_csv("/Users/zhangdemei/Desktop/ProgrammingAtom/Excel module/Python for Excel Users/gdp.csv", encoding='latin-1')
df

# encode('utf-8')
# skiprows = 1 > skip 1 line
# if there is no header > Header = None
# names = ["", ... ]  set headers by ourseleves
# nrows = 3 > show 3 rows
# na_values = ["", ...]/ {"": ["", ...]}
# converters = {"column":function}

      unid wbid      country  year        SES       gdppc  yrseduc  popshare
0        4  AFG  Afghanistan  1970   3.474212   709.00000      NaN  0.003097
1        4  AFG  Afghanistan  1920  26.968016   731.75677      NaN  0.003245
2        4  AFG  Afghanistan  1990   1.269530   604.00000      NaN  0.002347
3        4  AFG  Afghanistan  1960  15.763076   739.00000      NaN  0.003039
4        4  AFG  Afghanistan  2000   2.061114   565.00000      NaN  0.003309
...    ...  ...          ...   ...        ...         ...      ...       ...
2081   716  ZWE     Zimbabwe  1940  52.746567   813.00000      NaN  0.001113
2082   716  ZWE     Zimbabwe  2010  27.091389  1388.97300      NaN  0.002074
2083   716  ZWE     Zimbabwe  1990  59.110970  2526.07230      NaN  0.002039
2084   716  ZWE     Zimbabwe  1900  54.722645   601.00000      NaN  0.000996
2085   716  ZWE     Zimbabwe  1960  53.811077   938.00000      NaN  0.001268

[2086 rows x 8 columns]

In [71]:
#have Chinese
df.to_csv("haha", index=False, encoding = "utf_8_sig")

#to_excel

# Reading

In [72]:
# add a row
df.loc[2086] =[717, "cn", "China", 2022, 100, 1000, "NaN", 0.01]
df

      unid wbid      country  year         SES       gdppc yrseduc  popshare
0        4  AFG  Afghanistan  1970    3.474212   709.00000     NaN  0.003097
1        4  AFG  Afghanistan  1920   26.968016   731.75677     NaN  0.003245
2        4  AFG  Afghanistan  1990    1.269530   604.00000     NaN  0.002347
3        4  AFG  Afghanistan  1960   15.763076   739.00000     NaN  0.003039
4        4  AFG  Afghanistan  2000    2.061114   565.00000     NaN  0.003309
...    ...  ...          ...   ...         ...         ...     ...       ...
2082   716  ZWE     Zimbabwe  2010   27.091389  1388.97300     NaN  0.002074
2083   716  ZWE     Zimbabwe  1990   59.110970  2526.07230     NaN  0.002039
2084   716  ZWE     Zimbabwe  1900   54.722645   601.00000     NaN  0.000996
2085   716  ZWE     Zimbabwe  1960   53.811077   938.00000     NaN  0.001268
2086   717   cn        China  2022  100.000000  1000.00000     NaN  0.010000

[2087 rows x 8 columns]

In [73]:
# add a column
df["Life"]= float(100)
df

,unid,wbid,country,year,SES,gdppc,yrseduc,popshare,Life
0,4,AFG,Afghanistan,1970,3.474212,709.00000,NaN,0.003097,100.0
1,4,AFG,Afghanistan,1920,26.968016,731.75677,NaN,0.003245,100.0
2,4,AFG,Afghanistan,1990,1.269530,604.00000,NaN,0.002347,100.0
3,4,AFG,Afghanistan,1960,15.763076,739.00000,NaN,0.003039,100.0
4,4,AFG,Afghanistan,2000,2.061114,565.00000,NaN,0.003309,100.0
...,...,...,...,...,...,...,...,...,...
2082,716,ZWE,Zimbabwe,2010,27.091389,1388.97300,NaN,0.002074,100.0
2083,716,ZWE,Zimbabwe,1990,59.110970,2526.07230,NaN,0.002039,100.0
2084,716,ZWE,Zimbabwe,1900,54.722645,601.00000,NaN,0.000996,100.0
2085,716,ZWE,Zimbabwe,1960,53.811077,938.00000,NaN,0.001268,100.0
2086,717,cn,China,2022,100.000000,1000.00000,NaN,0.010000,100.0

In [74]:
def calc(row):
    try:
        return float(row["gdppc"])*float(row["Life"])
        #return float(row["year"])*float(row["year"])
    except:
        pass
        
df["Total GDP"] = df.apply(calc, axis = 1)
df

,unid,wbid,country,year,SES,gdppc,yrseduc,popshare,Life,Total GDP
0,4,AFG,Afghanistan,1970,3.474212,709.00000,NaN,0.003097,100.0,70900.000
1,4,AFG,Afghanistan,1920,26.968016,731.75677,NaN,0.003245,100.0,73175.677
2,4,AFG,Afghanistan,1990,1.269530,604.00000,NaN,0.002347,100.0,60400.000
3,4,AFG,Afghanistan,1960,15.763076,739.00000,NaN,0.003039,100.0,73900.000
4,4,AFG,Afghanistan,2000,2.061114,565.00000,NaN,0.003309,100.0,56500.000
...,...,...,...,...,...,...,...,...,...,...
2082,716,ZWE,Zimbabwe,2010,27.091389,1388.97300,NaN,0.002074,100.0,138897.300
2083,716,ZWE,Zimbabwe,1990,59.110970,2526.07230,NaN,0.002039,100.0,252607.230
2084,716,ZWE,Zimbabwe,1900,54.722645,601.00000,NaN,0.000996,100.0,60100.000
2085,716,ZWE,Zimbabwe,1960,53.811077,938.00000,NaN,0.001268,100.0,93800.000
2086,717,cn,China,2022,100.000000,1000.00000,NaN,0.010000,100.0,100000.000

In [75]:
#### Read Headers
df.columns

Index(['unid', 'wbid', 'country', 'year', 'SES', 'gdppc', 'yrseduc',
       'popshare', 'Life', 'Total GDP'],
      dtype='object')

In [76]:
## Read each Column
print(df[['unid', 'wbid']])

      unid wbid
0        4  AFG
1        4  AFG
2        4  AFG
3        4  AFG
4        4  AFG
...    ...  ...
2082   716  ZWE
2083   716  ZWE
2084   716  ZWE
2085   716  ZWE
2086   717   cn

[2087 rows x 2 columns]

In [77]:
## Read Each Row
print(df.iloc[0:4])

   unid wbid      country  year        SES      gdppc yrseduc  popshare  \
0     4  AFG  Afghanistan  1970   3.474212  709.00000     NaN  0.003097
1     4  AFG  Afghanistan  1920  26.968016  731.75677     NaN  0.003245
2     4  AFG  Afghanistan  1990   1.269530  604.00000     NaN  0.002347
3     4  AFG  Afghanistan  1960  15.763076  739.00000     NaN  0.003039

    Life  Total GDP
0  100.0  70900.000
1  100.0  73175.677
2  100.0  60400.000
3  100.0  73900.000

In [78]:
for index, row in df.iterrows():
    print(index, row['Total GDP'])

0 70900.0
1 73175.677
2 60400.0
3 73900.0
4 56500.0
5 166280.35
6 58546.509000000005
7 67391.895
8 63593.024000000005
9 69000.0
10 70283.78300000001
11 64500.0
12 68639.53199999999
13 73686.04699999999
14 649217.68
15 74781.482
16 68262.96399999999
17 176800.0
18 125300.0
19 105200.0
20 53366.669
21 383100.0
22 480643.01999999996
23 96100.0
24 62869.231999999996
25 56733.331
26 60100.0
27 81300.0
28 59800.0
29 100100.0
30 68500.0
31 455740.82
32 234700.0
33 92957.141
34 78000.0
35 52200.0
36 96528.571
37 992717.5800000001
38 86131.25
39 547001.76
40 200400.0
41 145100.0
42 81176.746
43 11451883.0
44 2455200.0
45 1579800.0
46 102106.98
47 383367.58
48 2770900.0
49 5740673.8
50 1180989.2
51 10720646.0
52 95130.231
53 2243300.0
54 782178.37
55 88153.491
56 275600.0
57 820600.0
58 1083350.3
59 382200.0
60 1879427.0
61 555900.0
62 215200.0
63 347300.0
64 1492437.4
65 408000.0
66 730200.0
67 416100.0
68 173150.0
69 498700.0
70 143293.33
71 113900.0
72 394500.0
73 143007.69
74 284100.0
75 611658.84
76 144800.0
77 104100.0
78 123700.0
79 557500.0
80 373554.32
81 291855.76
82 650791.46
83 214400.0
84 476600.0
85 1202400.0
86 1441200.0
87 2857207.6
88 521000.0
89 401300.0
90 741200.0
91 470800.0
92 3524450.4
93 616600.0
94 4136321.4999999995
95 445800.0
96 428500.0
97 879100.0
98 395900.0
99 358600.0
100 329000.0
101 370600.0
102 3881205.1
103 4317497.7
104 288200.0
105 974700.0
106 1375900.0
107 3126528.7
108 241200.0
109 651900.0
110 207900.0
111 244300.0
112 36000.0
113 53366.669
114 56733.331
115 62869.231999999996
116 81300.0
117 68262.96399999999
118 71326.978
119 44400.0
120 70778.76
121 60100.0
122 60300.0
123 74781.482
124 104918.14
125 54000.0
126 396200.0
127 342800.0
128 306500.0
129 4108655.1
130 3725347.3
131 456200.0
132 1061100.0
133 1446700.0
134 406400.0
135 373100.0
136 695200.0
137 497900.0
138 3070126.0
139 546200.0
140 102700.0
141 108400.0
142 97800.0
143 60100.0
144 81300.0
145 164646.45
146 62869.231999999996
147 112800.0
148 74781.482
149 145601.66
150 68262.96399999999
151 53366.669
152 175938.69999999998
153 56733.331
154 47400.0
155 74500.0
156 60900.0
157 60100.0
158 73100.0
159 53366.669
160 74781.482
161 81300.0
162 62869.231999999996
163 68262.96399999999
164 142093.26
165 107539.55
166 84434.253
167 56733.331
168 56666.669
169 61459.46
170 54500.0
171 60800.0
172 129043.1
173 164571.73
174 54000.0
175 65189.191000000006
176 66184.613
177 54900.0
178 57729.729999999996
179 58733.331
180 63000.0
181 245130.52
182 154800.0
183 291200.0
184 895808.89
185 122300.0
186 113627.27
187 165100.0
188 477300.0
189 929692.9700000001
190 98550.0
191 128400.0
192 604400.0
193 145600.0
194 1528324.5999999999
195 113100.0
196 3511255.5
197 124291.88999999998
198 152994.59
199 181697.3
200 210400.0
201 81176.746
202 3991269.5
203 102106.98
204 284300.0
205 438800.0
206 378800.0
207 4479152.0
208 95130.231
209 88153.491
210 788699.76
211 216570.26
212 84500.0
213 696402.39
214 494800.0
215 347800.0
216 516828.86
217 143110.81999999998
218 253300.0
219 64766.669
220 593500.0
221 74633.331
222 109807.69
223 179840.54
224 191900.0
225 97800.0
226 441232.75999999995
227 217600.0
228 138437.5
229 58333.331
230 77800.0
231 540760.99
232 158812.5
233 160600.0
234 68066.669
235 370730.44
236 118062.5
237 257200.0
238 125000.0
239 305700.0
240 96300.0
241 76900.0
242 67800.0
243 1130843.8
244 1024583.1
245 79400.0
246 1440593.1
247 519500.0
248 104800.0
249 233500.0
250 75200.0
251 167200.0
252 216570.26
253 347800.0
254 64766.669
255 84500.0
256 179840.54
257 1444040.9
258 143110.81999999998
259 494800.0
260 109807.69
261 74633.331
262 593500.0
263 253300.0
264 1329848.5
265 1534584.3
266 208200.0
267 252200.0
268 68639.53199999999
269 8271654.7
270 8528072.7
271 104283.79
272 73686.04699999999
273 7960253.9
274 163200.0
275 121391.88999999998
276 138500.0
277 87175.677
278 63593.024000000005
279 58546.509000000005
280 81300.0
281 34900.0
282 1036131.1
283 68262.96399999999
284 809926.07
285 74781.482
286 40300.0
287 64700.0
288 62869.231999999996
289 176500.0
290 53366.669
291 60100.0
292 1311955.0999999999
293 56733.331
294 68262.96399999999
295 74781.482
296 81300.0
297 53366.669
298 89100.0
299 82573.743
300 73700.0
301 88871.686
302 92500.0
303 93287.671
304 56733.331
305 77200.0
306 60100.0
307 62869.231999999996
308 875300.0
309 1205000.0
310 237800.0
311 406600.0
312 3743191.8
313 3129965.4
314 4069935.5000000005
315 1617600.0
316 536800.0
317 481100.0
318 386100.0
319 181600.0
320 729100.0
321 291100.0
322 1877900.0
323 1245700.0
324 5031407.4
325 5554167.2
326 383300.0
327 431400.0
328 906400.0
329 4776835.2
330 245000.0
331 624600.0
332 1690400.0
333 433100.0
334 639700.0
335 318200.0
336 1488789.7999999998
337 300000.0
338 276800.0
339 924415.92
340 285900.0
341 174000.0
342 1935747.3000000003
343 196600.0
344 427000.0
345 523100.0
346 219400.0
347 323600.0
348 367000.0
349 568000.0
350 54500.0
351 56800.0
352 55637.5
353 952581.9299999999
354 370074.39
355 66200.0
356 152640.88
357 54300.0
358 54000.0
359 106100.0
360 44800.0
361 77800.0
362 55038.464
363 53500.0
364 68262.96399999999
365 60100.0
366 81300.0
367 104100.0
368 74781.482
369 125600.0
370 62869.231999999996
371 297769.52999999997
372 56733.331
373 53366.669
374 204100.0
375 272628.86
376 180800.0
377 322049.46
378 53366.669
379 83200.0
380 68262.96399999999
381 74781.482
382 240386.38
383 276832.25
384 60100.0
385 119200.0
386 81300.0
387 98200.0
388 62869.231999999996
389 56733.331
390 67100.0
391 257496.99999999997
392 60100.0
393 81300.0
394 62869.231999999996
395 74800.0
396 59800.0
397 57000.0
398 51849.756
399 74781.482
400 76800.0
401 126770.64
402 68262.96399999999
403 56733.331
404 53366.669
405 59632.28800000001
406 56733.331
407 53366.669
408 559529.64
409 169600.0
410 60100.0
411 62869.231999999996
412 525671.09
413 81300.0
414 68262.96399999999
415 141600.0
416 74781.482
417 119800.0
418 232400.0
419 464795.31
420 147400.0
421 309400.0
422 97300.0
423 89600.0
424 189500.0
425 830822.27
426 116200.0
427 215300.0
428 753351.9
429 81900.0
430 249700.0
431 425700.0
432 125500.0
433 1090050.4000000001
434 162600.0
435 176300.0
436 196300.0
437 778716.41
438 97800.0
439 375400.0
440 1300001.3
441 271500.0
442 491100.0
443 68066.669
444 77800.0
445 987827.15
446 162400.0
447 58333.331
448 1369441.2
449 97800.0
450 191700.0
451 204600.0
452 205200.0
453 77800.0
454 1128978.2
455 68066.669
456 120800.0
457 58333.331
458 130093.75
459 264400.0
460 1843390.1999999997
461 150500.0
462 382400.0
463 384600.0
464 253600.0
465 3394128.5000000005
466 1043600.0
467 202800.0
468 236100.0
469 2330077.5
470 498800.0
471 181500.0
472 329100.0
473 272176.93
474 739900.0
475 3008590.4
476 168930.25
477 262923.10000000003
478 259604.59
479 410268.9
480 2113718.2
481 191042.80000000002
482 2828988.9
483 644967.68
484 217453.2
485 846864.06
486 1996524.5999999999
487 239114.91999999998
488 243513.45
489 252799.56000000003
490 1411400.0
491 388100.0
492 1083900.0
493 334800.0
494 4042872.3
495 199100.0
496 770500.0
497 279600.0
498 298500.0
499 242800.0
500 540300.0
501 3676456.3000000003
502 3128707.0
503 397300.0
504 4375773.8
505 694300.0
506 881200.0
507 3384396.1
508 301700.0
509 252300.0
510 1268600.0
511 399200.0
512 4243000.0
513 534100.0
514 1522700.0
515 511600.0
516 218100.0
517 370500.0
518 103294.59
519 68066.669
520 526710.3
521 58333.331
522 156100.0
523 103591.88999999998
524 102700.0
525 1112353.3
526 237200.0
527 102997.29999999999
528 130200.0
529 77800.0
530 97800.0
531 796370.46
532 125581.08
533 1289829.6
534 131040.54000000001
535 224900.0
536 102755.81
537 315200.0
538 120121.62000000001
539 81918.604
540 113174.40999999999
541 1023888.4
542 1021110.3999999999
543 92337.207
544 136500.0
545 208800.0
546 228900.0
547 97800.0
548 110880.77
549 738761.5700000001
550 935234.28
551 284500.0
552 186300.0
553 58333.331
554 68066.669
555 135600.0
556 412900.0
557 747202.93
558 120996.15
559 77800.0
560 206900.0
561 70783.722
562 99100.0
563 90567.566
564 91000.0
565 88434.882
566 90351.349
567 1010210.1000000001
568 601430.13
569 90783.78300000001
570 755671.0
571 82551.166
572 125400.0
573 76667.444
574 2996716.6
575 162400.0
576 218900.0
577 2375876.1999999997
578 189500.0
579 631900.0
580 208000.0
581 307200.0
582 178600.0
583 164600.0
584 262000.0
585 920300.0
586 217700.0
587 3250643.4
588 123700.0
589 284100.0
590 954764.7499999999
591 143293.33
592 1570302.9000000001
593 104100.0
594 143007.69
595 113900.0
596 394500.0
597 557500.0
598 214400.0
599 1082000.0
600 144800.0
601 2274096.5
602 65235.223
603 39000.0
604 61911.432
605 107555.37
606 74781.482
607 60100.0
608 81300.0
609 56733.331
610 53366.669
611 64800.0
612 44000.0
613 62869.231999999996
614 59500.0
615 68262.96399999999
616 425300.0
617 3488718.0
618 957700.0
619 166800.0
620 190600.0
621 266600.0
622 3984813.3000000003
623 623000.0
624 138100.0
625 2890557.0
626 184600.0
627 322000.0
628 1294900.0
629 115500.0
630 163200.0
631 667384.72
632 252200.0
633 58546.509000000005
634 87175.677
635 121391.88999999998
636 735207.13
637 208200.0
638 138500.0
639 63593.024000000005
640 104283.79
641 589130.62
642 73686.04699999999
643 68639.53199999999
644 2952797.5
645 453200.0
646 296500.0
647 1141000.0
648 287600.0
649 518600.0
650 237600.0
651 739800.0
652 3489638.7
653 404200.0
654 3687222.6999999997
655 1476600.0
656 212000.0
657 322700.0
658 1777635.7
659 310800.0
660 56733.331
661 677700.0
662 68262.96399999999
663 74781.482
664 81300.0
665 53366.669
666 62869.231999999996
667 418400.0
668 1949955.3
669 586900.0
670 1633447.9
671 60100.0
672 3619586.6999999997
673 864500.0
674 1293100.0
675 461100.0
676 449200.0
677 685600.0
678 347700.0
679 3296152.7
680 544100.0
681 400900.0
682 693900.0
683 454800.0
684 1076700.0
685 2676935.7
686 93767.566
687 308386.74
688 84551.349
689 51853.490999999995
690 102983.79
691 137800.0
692 191959.67
693 59806.975999999995
694 142400.0
695 115700.0
696 67760.46800000001
697 112200.0
698 75713.95300000001
699 227271.0
700 81300.0
701 68262.96399999999
702 151695.94
703 56733.331
704 53366.669
705 74781.482
706 62869.231999999996
707 72200.0
708 60100.0
709 165490.81
710 60700.0
711 87900.0
712 103900.0
713 156423.34
714 135100.0
715 143300.0
716 897100.0
717 2068613.7
718 621100.0
719 314600.0
720 225800.0
721 191500.0
722 2483907.6
723 102900.0
724 117800.0
725 222300.0
726 2872608.0
727 153638.46000000002
728 219300.0
729 208500.0
730 68066.669
731 58333.331
732 177600.0
733 666763.48
734 127200.0
735 97800.0
736 274200.0
737 605102.0499999999
738 515940.04000000004
739 400500.0
740 291900.0
741 77800.0
742 593500.0
743 109807.69
744 578308.84
745 292807.1
746 458009.3300000001
747 143110.81999999998
748 74633.331
749 64766.669
750 494800.0
751 347800.0
752 216570.26
753 253300.0
754 84500.0
755 179840.54
756 1050300.0
757 569500.0
758 109881.40000000001
759 313400.0
760 3401678.9
761 2697437.3
762 82160.46800000001
763 171043.24
764 221800.0
765 96020.929
766 196421.62
767 4810772.7
768 145664.87
769 123741.86
770 433682.12999999995
771 320528.42
772 68066.669
773 139800.0
774 156300.0
775 131300.0
776 347843.46
777 97800.0
778 155600.0
779 77800.0
780 58333.331
781 127400.0
782 206200.0
783 116000.0
784 1574527.8
785 735100.0
786 211100.0
787 194445.46
788 143800.0
789 2011815.5999999999
790 163600.0
791 307000.0
792 125400.0
793 109550.0
794 180306.25
795 578600.0
796 431500.0
797 196900.0
798 68066.669
799 58333.331
800 106200.0
801 91900.0
802 173939.21
803 150203.27
804 105100.0
805 100500.0
806 104171.88
807 77800.0
808 126800.0
809 97800.0
810 103953.13
811 104390.63
812 645900.0
813 2227737.3
814 240400.0
815 170900.0
816 1785504.3
817 147300.0
818 364900.0
819 128250.0
820 200000.0
821 168200.0
822 248000.0
823 502800.0
824 262600.0
825 630600.0
826 61200.0
827 846529.59
828 60100.0
829 114100.0
830 80300.0
831 116500.0
832 447731.00999999995
833 101200.0
834 187000.0
835 118100.0
836 580580.86
837 92300.0
838 80300.0
839 70400.0
840 63500.0
841 69700.0
842 440453.75999999995
843 68600.0
844 75300.0
845 58400.0
846 72600.0
847 177312.30000000002
848 61900.0
849 86800.0
850 93800.0
851 252134.35
852 54585.712
853 59900.0
854 4081501.9999999995
855 428200.0
856 305200.0
857 345300.0
858 266895.33999999997
859 854100.0
860 255837.5
861 199848.84
862 289700.0
863 619900.0
864 2211697.9
865 244546.50999999998
866 222197.68
867 4566146.899999999
868 397400.0
869 215600.0
870 133081.08
871 91504.651
872 1017367.7
873 418900.0
874 1190467.2
875 98039.53199999999
876 113621.62000000001
877 78434.882
878 1751743.4000000001
879 172000.0
880 152540.54
881 84969.769
882 1267415.0
883 637700.0
884 1217199.1
885 84969.769
886 347300.0
887 273500.0
888 136400.0
889 91504.651
890 116724.33000000002
891 98039.53199999999
892 106886.49
893 126562.15999999999
894 78434.882
895 1151550.1
896 2862746.7
897 253600.0
898 384600.0
899 739900.0
900 382400.0
901 181500.0
902 3879030.9
903 236100.0
904 498800.0
905 1043600.0
906 202800.0
907 272176.93
908 3357500.0
909 329100.0
910 88153.491
911 137781.08
912 233727.03000000003
913 810100.0
914 1976015.8
915 466300.0
916 281700.0
917 185754.05000000002
918 2609017.1999999997
919 95130.231
920 2959979.3000000003
921 81176.746
922 102106.98
923 1098400.0
924 158100.0
925 3114190.1999999997
926 178500.0
927 971900.0
928 1314900.0
929 233200.0
930 291800.0
931 591600.0
932 350500.0
933 3653582.0
934 350200.0
935 258700.0
936 3620116.0000000005
937 166700.0
938 56895.349
939 740357.03
940 132700.0
941 810491.5
942 97100.0
943 58593.024000000005
944 55197.675
945 312100.0
946 384900.0
947 265400.0
948 85552.00200000001
949 60290.698
950 70991.998
951 821808.6900000001
952 78358.14199999999
953 448000.0
954 148381.08
955 84916.278
956 233000.0
957 130462.15999999999
958 666144.53
959 98032.556
960 774249.02
961 239500.0
962 166300.0
963 112543.23999999999
964 91474.42
965 1044112.7000000001
966 185000.0
967 86300.0
968 3387184.4
969 3574976.9999999995
970 1342800.0
971 118000.0
972 287400.0
973 971400.0
974 192100.0
975 3044725.8000000003
976 130400.0
977 169600.0
978 398600.0
979 101200.0
980 143293.33
981 1305048.6
982 104100.0
983 2009691.8
984 394500.0
985 123700.0
986 995156.35
987 144800.0
988 113900.0
989 755623.5399999999
990 557500.0
991 284100.0
992 214400.0
993 143007.69
994 60100.0
995 91500.0
996 253857.63999999998
997 74781.482
998 215848.50999999998
999 65100.0
1000 237597.08999999997
1001 105100.0
1002 81300.0
1003 68262.96399999999
1004 53366.669
1005 56733.331
1006 62869.231999999996
1007 72600.0
1008 207450.54
1009 143007.69
1010 104100.0
1011 144800.0
1012 113900.0
1013 557500.0
1014 279017.07
1015 367552.93
1016 123700.0
1017 284100.0
1018 347466.8
1019 394500.0
1020 143293.33
1021 214400.0
1022 251329.32
1023 48200.0
1024 70091.895
1025 62794.592
1026 64700.0
1027 73686.04699999999
1028 68639.53199999999
1029 63593.024000000005
1030 137083.07
1031 88100.0
1032 55497.295999999995
1033 67100.0
1034 82800.0
1035 58546.509000000005
1036 411400.0
1037 109200.0
1038 104900.0
1039 1208676.3
1040 85400.0
1041 70692.682
1042 3044040.4
1043 216700.0
1044 160000.0
1045 2075677.5000000002
1046 65546.344
1047 122600.0
1048 80985.364
1049 75839.026
1050 81176.746
1051 102106.98
1052 7369513.3
1053 2135475.6
1054 88153.491
1055 2881300.0
1056 2887800.0
1057 1383151.4
1058 630827.0499999999
1059 95130.231
1060 1327100.0
1061 612100.0
1062 3069500.0
1063 7431479.7
1064 234047.44
1065 87600.0
1066 65056.757000000005
1067 73686.04699999999
1068 61300.0
1069 161681.48
1070 58546.509000000005
1071 72570.27
1072 67900.0
1073 68813.513
1074 74800.0
1075 397442.24
1076 68639.53199999999
1077 63593.024000000005
1078 81300.0
1079 74781.482
1080 68262.96399999999
1081 83653.955
1082 60100.0
1083 116200.0
1084 105500.0
1085 87284.021
1086 123000.0
1087 56733.331
1088 62869.231999999996
1089 149200.0
1090 69790.991
1091 53366.669
1092 85700.0
1093 84912.415
1094 911500.0
1095 2917360.7
1096 85227.448
1097 85384.96699999999
1098 727200.0
1099 308700.0
1100 85069.934
1101 85542.48
1102 183000.0
1103 2199748.2
1104 84754.901
1105 84597.382
1106 120800.0
1107 104500.0
1108 149900.0
1109 125100.0
1110 557961.91
1111 83100.0
1112 126500.0
1113 109200.0
1114 129000.0
1115 183000.0
1116 129500.0
1117 856321.29
1118 125300.0
1119 366558.03
1120 136518.36000000002
1121 68262.96399999999
1122 45800.0
1123 81300.0
1124 35500.0
1125 60400.0
1126 53366.669
1127 240531.23
1128 74781.482
1129 178049.66999999998
1130 60100.0
1131 56733.331
1132 62869.231999999996
1133 100500.0
1134 143293.33
1135 214400.0
1136 113900.0
1137 803358.84
1138 2106198.6
1139 394500.0
1140 104100.0
1141 557500.0
1142 1218495.9000000001
1143 144800.0
1144 143007.69
1145 866300.0
1146 284100.0
1147 123700.0
1148 498800.0
1149 384600.0
1150 7868757.8
1151 8972703.9
1152 181500.0
1153 329100.0
1154 253600.0
1155 382400.0
1156 5426367.6
1157 1043600.0
1158 272176.93
1159 739900.0
1160 202800.0
1161 236100.0
1162 143007.69
1163 557500.0
1164 869835.2500000001
1165 104100.0
1166 284100.0
1167 1115810.6
1168 113900.0
1169 394500.0
1170 1825100.8000000003
1171 123700.0
1172 143293.33
1173 144800.0
1174 214400.0
1175 991600.0
1176 163200.0
1177 3728121.1
1178 63593.024000000005
1179 208200.0
1180 138500.0
1181 87175.677
1182 73686.04699999999
1183 121391.88999999998
1184 104283.79
1185 9861468.799999999
1186 58546.509000000005
1187 3439226.9999999995
1188 252200.0
1189 68639.53199999999
1190 125364.87
1191 145500.0
1192 69974.42
1193 85094.592
1194 59718.60400000001
1195 649660.69
1196 132900.0
1197 227200.0
1198 63137.207
1199 161600.0
1200 390103.74
1201 66555.817
1202 446964.26
1203 105229.72
1204 569647.07
1205 104100.0
1206 144800.0
1207 214400.0
1208 232102.77999999997
1209 617000.0
1210 391086.06
1211 394500.0
1212 557500.0
1213 143007.69
1214 143293.33
1215 123700.0
1216 284100.0
1217 113900.0

1218 166072.63
1219 112500.0
1220 139042.52
1221 62869.231999999996
1222 95100.0
1223 56733.331
1224 74781.482
1225 144604.68
1226 53366.669
1227 122600.0
1228 68262.96399999999
1229 60100.0
1230 105400.0
1231 81300.0
1232 87175.677
1233 73686.04699999999
1234 104283.79
1235 163200.0
1236 58546.509000000005
1237 121391.88999999998
1238 1051439.7000000002
1239 252200.0
1240 138500.0
1241 63593.024000000005
1242 305000.0
1243 208200.0
1244 254300.0
1245 68639.53199999999
1246 432000.0
1247 1485611.6
1248 1536487.2
1249 182300.0
1250 101100.0
1251 169400.0
1252 315500.0
1253 185200.0
1254 1254749.3
1255 161800.0
1256 236500.0
1257 136600.0
1258 632000.0
1259 84250.0
1260 62869.231999999996
1261 145242.68
1262 81300.0
1263 186060.51
1264 126926.20999999999
1265 74781.482
1266 68262.96399999999
1267 53400.0
1268 53366.669
1269 73300.0
1270 45700.0
1271 58600.0
1272 60100.0
1273 56733.331
1274 382400.0
1275 329100.0
1276 253600.0
1277 236100.0
1278 498800.0
1279 1617961.6
1280 384600.0
1281 2462871.1
1282 739900.0
1283 2837027.9
1284 202800.0
1285 272176.93
1286 1043600.0
1287 181500.0
1288 360776.78
1289 56690.32
1290 59879.998999999996
1291 126329.7
1292 69270.966
1293 82800.0
1294 71854.449
1295 56400.0
1296 88440.00200000001
1297 64200.0
1298 68266.669
1299 62980.646
1300 39600.0
1301 73340.00200000001
1302 63593.024000000005
1303 465501.86000000004
1304 73686.04699999999
1305 68639.53199999999
1306 105800.0
1307 58546.509000000005
1308 52067.566
1309 60635.13799999999
1310 58600.0
1311 69202.70400000001
1312 770858.01
1313 512253.1699999999
1314 43500.0
1315 78700.0
1316 55555.988000000005
1317 174300.0
1318 62869.231999999996
1319 113300.0
1320 56733.331
1321 53366.669
1322 37501.495
1323 74781.482
1324 91398.84
1325 68262.96399999999
1326 60100.0
1327 122000.0
1328 132700.0
1329 81300.0
1330 60100.0
1331 62869.231999999996
1332 46400.0
1333 333373.14
1334 56733.331
1335 74781.482
1336 100900.0
1337 274906.32
1338 62500.0
1339 281571.44
1340 81300.0
1341 53366.669
1342 68262.96399999999
1343 105900.0
1344 738682.42
1345 53366.669
1346 1107714.7000000002
1347 62869.231999999996
1348 294500.0
1349 1593841.9
1350 56733.331
1351 277700.0
1352 81300.0
1353 74781.482
1354 68262.96399999999
1355 60100.0
1356 249000.0
1357 436700.0
1358 60100.0
1359 63000.0
1360 74645.56300000001
1361 106074.69
1362 62869.231999999996
1363 44700.0
1364 53366.669
1365 88011.072
1366 56733.331
1367 32400.0
1368 39400.0
1369 68262.96399999999
1370 74781.482
1371 81300.0
1372 111000.0
1373 76397.55900000001
1374 73031.708
1375 1614623.5
1376 1045148.3
1377 163600.0
1378 69665.851
1379 153000.0
1380 155900.0
1381 127800.0
1382 2110187.9
1383 207900.0
1384 79763.416
1385 365700.0
1386 332100.0
1387 261600.0
1388 376700.0
1389 81300.0
1390 68262.96399999999
1391 53366.669
1392 74781.482
1393 60100.0
1394 56733.331
1395 216000.0
1396 611030.3200000001
1397 838188.38
1398 571623.14
1399 62869.231999999996
1400 74781.482
1401 61700.0
1402 76180.48700000001
1403 68262.96399999999
1404 81300.0
1405 53366.669
1406 60100.0
1407 82065.167
1408 76100.0
1409 83900.0
1410 56733.331
1411 62869.231999999996
1412 81000.0
1413 90566.425
1414 68262.96399999999
1415 62869.231999999996
1416 109400.0
1417 75300.0
1418 53366.669
1419 512281.35000000003
1420 56733.331
1421 81300.0
1422 303046.02
1423 74781.482
1424 283598.83
1425 60100.0
1426 82000.0
1427 130500.0
1428 215400.0
1429 161600.0
1430 68066.669
1431 141500.0
1432 58333.331
1433 126400.0
1434 77800.0
1435 97800.0
1436 198300.0
1437 281200.0
1438 402422.73
1439 301990.26
1440 137200.0
1441 347493.58
1442 378900.0
1443 342400.0
1444 1196700.0
1445 483100.0
1446 4552466.399999999
1447 304600.0
1448 1470500.0
1449 332300.0
1450 4172169.5
1451 3209021.1
1452 599600.0
1453 828700.0
1454 560300.0
1455 422000.0
1456 170900.0
1457 543000.0
1458 6226801.2
1459 4282963.7
1460 5806658.600000001
1461 403800.0
1462 218600.0
1463 720400.0
1464 362700.0
1465 1507600.0
1466 273900.0
1467 151700.0
1468 187700.0
1469 1002700.0
1470 119844.12
1471 65200.0
1472 49606.975999999995
1473 49600.0
1474 50762.161
1475 46304.651
1476 53086.487
1477 52909.302
1478 51924.323000000004
1479 43002.325000000004
1480 60700.0
1481 153976.83
1482 199685.96
1483 65300.0
1484 845600.0
1485 2828196.5
1486 1234700.0
1487 496000.0
1488 531600.0
1489 2428868.8
1490 946500.0
1491 630000.0
1492 564100.0
1493 3218820.6999999997
1494 374700.0
1495 429800.0
1496 1118900.0
1497 375500.0
1498 67137.83600000001
1499 66184.613
1500 95200.0
1501 350180.79
1502 429661.27999999997
1503 66191.895
1504 64300.0
1505 65245.947
1506 58733.331
1507 64700.0
1508 305696.83
1509 56666.669
1510 116100.0
1511 60800.0
1512 77800.0
1513 127315.63
1514 97800.0
1515 160909.38
1516 1551608.7
1517 68066.669
1518 1057714.0999999999
1519 191600.0
1520 194503.13
1521 508200.0
1522 58333.331
1523 781567.9199999999
1524 381400.0
1525 239100.0
1526 230800.0
1527 122600.0
1528 166300.0
1529 98100.0
1530 67084.613
1531 385400.0
1532 191100.0
1533 59969.231999999996
1534 656326.9
1535 426300.0
1536 531268.46
1537 995655.76
1538 296900.0
1539 68600.0
1540 150700.0
1541 237600.0
1542 107000.0
1543 401020.33999999997
1544 66993.75
1545 176400.0
1546 422732.86
1547 87400.0
1548 563820.75
1549 138200.0
1550 63931.25
1551 128900.0
1552 65462.5
1553 147600.0
1554 160671.97
1555 163200.0
1556 73686.04699999999
1557 87175.677
1558 216653.33999999997
1559 208200.0
1560 252200.0
1561 104283.79
1562 58546.509000000005
1563 138500.0
1564 63593.024000000005
1565 121391.88999999998
1566 68639.53199999999
1567 185733.08
1568 199400.0
1569 190437.5
1570 244700.0
1571 321500.0
1572 442800.0
1573 222616.67
1574 153600.0
1575 574000.0
1576 169000.0
1577 1027656.8999999999
1578 1473247.6
1579 128400.0
1580 111500.0
1581 2177061.9
1582 157100.0
1583 804400.0
1584 208600.0
1585 112800.0
1586 2599949.0
1587 122800.0
1588 161500.0
1589 122900.0
1590 2016692.8
1591 295600.0
1592 2723846.1
1593 130200.0
1594 94700.0
1595 547300.0
1596 175200.0
1597 158400.0
1598 728951.37
1599 159769.22999999998
1600 187200.0
1601 608478.76
1602 97800.0
1603 68066.669
1604 603647.5599999999
1605 77800.0
1606 126846.15
1607 155500.0
1608 58333.331
1609 330100.0
1610 2877100.0
1611 3038700.0
1612 12614472.0
1613 102106.98
1614 88153.491
1615 95130.231
1616 659375.68
1617 2245591.8000000003
1618 10810742.0
1619 3281000.0
1620 3257300.0
1621 734300.0
1622 81176.746
1623 1452483.8
1624 121900.0
1625 118200.0
1626 166000.0
1627 184400.0
1628 115680.0
1629 108850.0
1630 1052341.8
1631 1147968.8
1632 148092.31
1633 285300.0
1634 1781801.8
1635 124600.0
1636 141500.0
1637 413500.0
1638 394500.0
1639 104100.0
1640 143293.33
1641 2063900.0
1642 284100.0
1643 2310778.5
1644 1405085.2000000002
1645 143007.69
1646 557500.0
1647 113900.0
1648 707488.23
1649 144800.0
1650 123700.0
1651 214400.0
1652 81300.0
1653 95200.0
1654 74781.482
1655 68262.96399999999
1656 56733.331
1657 60100.0
1658 54700.0
1659 65600.0
1660 79955.58499999999
1661 71700.0
1662 62869.231999999996
1663 85036.633
1664 53366.669
1665 132857.21000000002
1666 1321700.0
1667 4424682.0
1668 3534261.6999999997
1669 158829.72
1670 223100.0
1671 126694.59
1672 190964.87
1673 81176.746
1674 95130.231
1675 88153.491
1676 762400.0
1677 3534216.8
1678 371900.0
1679 102106.98
1680 175326.07
1681 88800.0
1682 56733.331
1683 81300.0
1684 68262.96399999999
1685 60100.0
1686 102400.0
1687 62869.231999999996
1688 223263.83999999997
1689 82100.0
1690 74781.482
1691 324083.14999999997
1692 93100.0
1693 53366.669
1694 53366.669
1695 144500.0
1696 143500.0
1697 126800.0
1698 62869.231999999996
1699 185214.53
1700 217376.46
1701 56733.331
1702 68262.96399999999
1703 74781.482
1704 81300.0
1705 125900.0
1706 60100.0
1707 191209.85
1708 109851.16
1709 443900.0
1710 123734.89
1711 171089.18000000002
1712 145683.79
1713 95967.444
1714 5163621.899999999
1715 231000.0
1716 82083.722
1717 221900.0
1718 7201790.600000001
1719 905800.0
1720 196494.59
1721 3429803.1
1722 136111.69
1723 81300.0
1724 112900.0
1725 85600.0
1726 65600.0
1727 56733.331
1728 137178.89
1729 111600.0
1730 62869.231999999996
1731 53366.669
1732 74781.482
1733 102593.62000000001
1734 60100.0
1735 68262.96399999999
1736 218700.0
1737 642488.72
1738 235400.0
1739 104500.0
1740 97800.0
1741 111100.0
1742 77800.0
1743 68066.669
1744 745256.15
1745 58333.331
1746 176400.0
1747 93200.0
1748 453228.66000000003
1749 148900.0
1750 109550.0
1751 143800.0
1752 163600.0
1753 194445.46
1754 1268807.8
1755 196900.0
1756 307000.0
1757 125400.0
1758 798480.71
1759 431500.0
1760 578600.0
1761 211100.0
1762 180306.25
1763 501100.0
1764 1560519.6
1765 274504.2
1766 2515907.8000000003
1767 279553.81
1768 249636.49999999997
1769 301836.16000000003
1770 193932.18
1771 290214.16
1772 298026.49
1773 622126.66
1774 781644.19
1775 219317.36000000002
1776 776305.91
1777 442014.99000000005
1778 227040.09
1779 166776.44
1780 187250.27
1781 226230.65999999997
1782 656730.08
1783 2272332.6
1784 2867837.3
1785 136499.38
1786 362697.61
1787 149060.72
1788 916017.09
1789 184834.84
1790 229840.31
1791 1085972.9
1792 879200.0
1793 3093363.3000000003
1794 676900.0
1795 152000.0
1796 4294256.3
1797 220900.0
1798 518000.0
1799 277600.0
1800 3685486.6999999997
1801 430600.0
1802 176900.0
1803 1301100.0
1804 1501600.0
1805 311100.0
1806 551859.72
1807 93500.0
1808 60100.0
1809 62869.231999999996
1810 81300.0
1811 68262.96399999999
1812 759431.35
1813 53366.669
1814 598848.4400000001
1815 239700.0
1816 74781.482
1817 72100.0
1818 203600.0
1819 56733.331
1820 212278.37
1821 183656.76
1822 570100.0
1823 922724.02
1824 240900.0
1825 354000.0
1826 119702.33
1827 650800.0
1828 96167.444
1829 107934.89
1830 131469.76
1831 736800.0
1832 155035.13
1833 302300.0
1834 130204.22000000002
1835 81300.0
1836 68262.96399999999
1837 60100.0
1838 109700.0
1839 74781.482
1840 56733.331
1841 57400.0
1842 62869.231999999996
1843 53366.669
1844 122947.55
1845 135013.25999999998
1846 107500.0
1847 69800.0
1848 922820.9999999999
1849 1358420.9000000001
1850 169400.0
1851 82450.0
1852 79666.669
1853 69600.0
1854 78400.0
1855 80878.259
1856 107800.0
1857 82000.0
1858 83356.525
1859 255400.0
1860 665069.29
1861 81700.0
1862 212298.95
1863 143293.33
1864 123700.0
1865 363533.86
1866 214400.0
1867 284100.0
1868 118560.06999999999
1869 394500.0
1870 557500.0
1871 113900.0
1872 104100.0
1873 143007.69
1874 364947.07
1875 144800.0
1876 357423.32
1877 87175.677
1878 73686.04699999999
1879 208200.0
1880 138500.0
1881 499300.0
1882 163200.0
1883 461038.77
1884 58546.509000000005
1885 252200.0
1886 104283.79
1887 63593.024000000005
1888 121391.88999999998
1889 68639.53199999999
1890 625100.0
1891 367400.0
1892 824400.0
1893 1238000.0
1894 153670.28
1895 296156.76
1896 77800.0
1897 68066.669
1898 97800.0
1899 58333.331
1900 224913.53
1901 1832401.5999999999
1902 3126102.5
1903 1225537.4
1904 105229.72
1905 69113.95300000001
1906 92689.191
1907 182700.0
1908 757393.31
1909 561493.85
1910 1043708.9
1911 86555.817
1912 74927.905
1913 134300.0
1914 294400.0
1915 111500.0
1916 80741.85800000001
1917 98959.46
1918 124900.0
1919 100546.51
1920 1707660.5
1921 118593.02
1922 1095398.5
1923 109569.76
1924 402200.0
1925 86229.999
1926 162300.0
1927 167500.0
1928 91523.254
1929 224700.0
1930 1335762.4
1931 307800.0
1932 148965.44
1933 62869.231999999996
1934 42400.0
1935 211119.50999999998
1936 60100.0
1937 56800.0

1938 74781.482
1939 68262.96399999999
1940 147266.44
1941 56733.331
1942 45900.0
1943 81300.0
1944 60100.0
1945 53366.669
1946 68262.96399999999
1947 74781.482
1948 68700.0
1949 57200.0
1950 81300.0
1951 53366.669
1952 107769.56
1953 62869.231999999996
1954 157347.13999999998
1955 86700.0
1956 71300.0
1957 56733.331
1958 78310.93100000001
1959 60100.0
1960 143007.69
1961 284100.0
1962 537817.63
1963 479738.04
1964 113900.0
1965 782449.85
1966 394500.0
1967 1046395.9999999999
1968 104100.0
1969 557500.0
1970 123700.0
1971 144800.0
1972 214400.0
1973 143293.33
1974 655500.0
1975 496000.0
1976 430100.0
1977 1708241.0
1978 1287477.6
1979 313600.0
1980 984072.66
1981 518400.0
1982 366100.0
1983 208200.0
1984 267400.0
1985 221900.0
1986 465900.0
1987 214700.0
1988 1503000.0
1989 4937283.2
1990 339200.0
1991 701000.0
1992 496400.0
1993 1132800.0
1994 621300.0
1995 318400.0
1996 956100.0
1997 555200.0
1998 3706212.9
1999 4598605.1
2000 1857700.0
2001 409100.0
2002 88600.0
2003 404500.0
2004 1067200.0
2005 964600.0
2006 1441710.4
2007 65300.0
2008 746200.0
2009 344400.0
2010 117300.0
2011 1656339.6
2012 73700.0
2013 1013900.0
2014 1445068.2000000002
2015 82100.0
2016 71394.592
2017 67664.86200000001
2018 65800.0
2019 71151.166
2020 65988.373
2021 73500.0
2022 264971.95
2023 79900.0
2024 55662.793
2025 75700.0
2026 150113.88999999998
2027 448626.12
2028 69529.73
2029 60825.58
2030 123000.0
2031 448155.47
2032 102106.98
2033 391121.97000000003
2034 94640.54
2035 96400.0
2036 95130.231
2037 91100.0
2038 88153.491
2039 101721.62
2040 335378.93
2041 98181.079
2042 229000.0
2043 81176.746
2044 404500.0
2045 1202893.4
2046 177851.35
2047 155009.30000000002
2048 103102.33
2049 439000.0
2050 203067.57
2051 990385.7400000001
2052 137706.98
2053 253500.0
2054 120404.65
2055 228283.79
2056 304100.0
2057 971764.84
2058 53366.669
2059 326339.48
2060 107300.0
2061 230860.37999999998
2062 56733.331
2063 91100.0
2064 62869.231999999996
2065 66100.0
2066 209225.50999999998
2067 81300.0
2068 74781.482
2069 68262.96399999999
2070 60100.0
2071 96000.0
2072 56733.331
2073 53366.669
2074 128200.0
2075 70100.0
2076 74781.482
2077 62869.231999999996
2078 129500.0
2079 252134.74000000002
2080 68262.96399999999
2081 81300.0
2082 138897.3
2083 252607.22999999998
2084 60100.0
2085 93800.0
2086 100000.0

In [79]:
df.loc[df['wbid'] == "AFG"]

,unid,wbid,country,year,SES,gdppc,yrseduc,popshare,Life,Total GDP
0,4,AFG,Afghanistan,1970,3.474212,709.00000,NaN,0.003097,100.0,70900.000
1,4,AFG,Afghanistan,1920,26.968016,731.75677,NaN,0.003245,100.0,73175.677
2,4,AFG,Afghanistan,1990,1.269530,604.00000,NaN,0.002347,100.0,60400.000
3,4,AFG,Afghanistan,1960,15.763076,739.00000,NaN,0.003039,100.0,73900.000
4,4,AFG,Afghanistan,2000,2.061114,565.00000,NaN,0.003309,100.0,56500.000
5,4,AFG,Afghanistan,2010,5.676400,1662.80350,NaN,0.004150,100.0,166280.350
6,4,AFG,Afghanistan,1880,37.957447,585.46509,NaN,0.003271,100.0,58546.509
7,4,AFG,Afghanistan,1940,14.320977,673.91895,NaN,0.003226,100.0,67391.895
8,4,AFG,Afghanistan,1890,29.591391,635.93024,NaN,0.003255,100.0,63593.024
9,4,AFG,Afghanistan,1980,3.465048,690.00000,NaN,0.003057,100.0,69000.000
10,4,AFG,Afghanistan,1930,15.306766,702.83783,NaN,0.003259,100.0,70283.783
11,4,AFG,Afghanistan,1950,23.424145,645.00000,NaN,0.003302,100.0,64500.000
12,4,AFG,Afghanistan,1900,28.104797,686.39532,NaN,0.003245,100.0,68639.532
13,4,AFG,Afghanistan,1910,26.987600,736.86047,NaN,0.003178,100.0,73686.047

In [80]:
# Read a specific location (R,C)
print(df.iloc[2,1])

AFG

# Sort

 ## Import new dataframe

In [81]:
df = pd.read_csv("/Users/zhangdemei/Desktop/ProgrammingAtom/Excel module/Pokemon.csv")
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [82]:
sortdf = df.sort_values(['Type 1', 'HP'], ascending=[1,0]) #1 for ascending, 0 for descending
sortdf

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

# Making changes to the data

In [83]:
#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
# df = df.drop(columns=['Total'])

df['Total'] = df.iloc[:, 4:10].sum(axis=1)

#use cols as index, select cols
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# Saving our data

In [84]:
# df.to_csv('modified.csv', index=False)

#df.to_excel('modified.xlsx', index=False)

df.to_csv('modified.txt', index=False, sep=',')

# Filtering data

In [85]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

new_df.reset_index(drop=True, inplace=True)

print(new_df)

new_df.to_csv('filtered.csv')

     #                   Name Type 1  Type 2  Total   HP  Attack  Defense  \
0    3               Venusaur  Grass  Poison    525   80      82       83
1    3  VenusaurMega Venusaur  Grass  Poison    625   80     100      123
2   45              Vileplume  Grass  Poison    490   75      80       85
3   71             Victreebel  Grass  Poison    490   80     105       65
4  591              Amoonguss  Grass  Poison    464  114      85       70

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0      100      100     80           1      False
1      122      120     80           1      False
2      110       90     50           1      False
3      100       70     70           1      False
4       85       80     30           5      False

# Aggregate Statistics

In [86]:
df = pd.read_csv('/Users/zhangdemei/Desktop/ProgrammingAtom/Excel module/modified.txt')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [104]:
df = pd.read_csv('/Users/zhangdemei/Desktop/ProgrammingAtom/Excel module/modified.txt')

df['counting'] = 1
df.groupby(['Type 1', 'Type 2']).count()['counting']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: counting, Length: 136, dtype: int64

In [98]:
df.groupby(["Type 1"]).mean().sort_values("Defense", ascending = False) 

#n part
#part1 : group by type1
#part2 : mean() / sum() / count()
#part3 : sort, False ascending = descending

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,counting
Type 1,,,,,,,,,,,
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,1.0
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,1.0
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,1.0
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,1.0
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,1.0
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,1.0
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,1.0
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,1.0
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,1.0
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,1.0
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,1.0
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154,1.0
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,1.0
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,1.0
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,1.0
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,1.0
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,1.0
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,1.0

# Working with large amounts of data

In [105]:
new_df = pd.DataFrame(columns=df.columns)
new_df

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary, counting]
Index: []

In [110]:
for df in pd.read_csv('/Users/zhangdemei/Desktop/ProgrammingAtom/Excel module/modified.txt', 
                      chunksize=5): # 5 in a time
    results = df.groupby(['Type 1']).count()
    
    new_df = pd.concat([new_df, results])
new_df.drop(columns=["Type 1"])

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,counting
Fire,1,1,0,1,1,1,1,1,1,1,1,1,NaN
Grass,4,4,4,4,4,4,4,4,4,4,4,4,NaN
Fire,4,4,3,4,4,4,4,4,4,4,4,4,NaN
Water,1,1,0,1,1,1,1,1,1,1,1,1,NaN
Bug,2,2,0,2,2,2,2,2,2,2,2,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,1,0,1,1,1,1,1,1,1,1,1,NaN
Flying,2,2,2,2,2,2,2,2,2,2,2,2,NaN
Fire,1,1,1,1,1,1,1,1,1,1,1,1,NaN
Psychic,2,2,2,2,2,2,2,2,2,2,2,2,NaN
Rock,2,2,2,2,2,2,2,2,2,2,2,2,NaN